p {
  color:black;

}


#Background-color-yellow {
    background-color:yellow;
}

.yellowred {
  color:red;
  background-color: yellow;
}

.head2 {
  background-color: yellow;
  color: purple;
  font-style: italic;
  font-weight: bolder;

}

.yellow_text {
  color:yellow;
}

.green_text{
  color:green;
}

.red_text {
  color:red;
}

#showoff2 {
    background-color:lightblue;
}
