#paragraph1 {
  background-color: skyblue;
  padding:50px;
  float:left;
  width: 33.33%;
}

.hidden {
  display: none;
}

.cleafix::after {
  content: " ";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}

.flexcontainer {
  display:flex;
  flex-wrap: nowrap;

}

.img-container {
  float: left;
  width: 33.33%;
  padding: 10px;

}

body {
  background-color: #F3B6FF;
}



ul.nav {
  list-style-type: none;
  background-color:#3d195b;
  overflow: hidden;
  padding:0;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;


}

h1{
  color: #3d195b;
  text-align:center;
  font-family: serif;

}

h2 {
  text-align: center;
  font-family: serif;
  color: #3d195b;
}



#text {
  font-size: 80px;
  font-style: bold;
}

.nav li {
  float: left;

}

.nav li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.nav li a:hover {
  background-color:#2E1344;
}

.stay {
  position:fixed;
}

table {
  width:850;
  float: right;
  padding-right: 20;
}

/*th, td {
  border: 1px solid black;
}*/

th {
  font-size: 30px;
  padding-bottom: 30px;
}

.th1 {
  font-size: 50px;
  padding-bottom: 0px;
}

.table2 {
  border: 1px solid black;
}

td {
  text-align: center;
  padding-bottom: 30px;
}

h3 {
  color: #3d195b;
  text-align: right;
  padding-top:  ;
  padding-right: 300  ;
  font-size: 50;
}
