.clickme {
  background-color:cyan;
  padding:20px;
  font-size: 18pt;
  width:500;
  margin:auto;
}

#tophalf {
  background-color: skyblue;
  display: none;
  max-width: 650px;
  margin: auto;
}

#bottomhalf {
  background-color: lime
}
