#paragraph1 {
  background-color: skyblue;
  padding:50px;
  float:left;
  width: 33.33%;
}

.cleafix::after {
  content: " ";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}

.flexcontainer {
  display:flex;
  flex-wrap: nowrap;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 10px;
}

img {
  width: 100%;
}

ul.nav {
  list-style-type: none;
  background-color:gray;
  overflow: hidden;
  padding:0;
  margin: 0;
}

.nav li {
  float: left;
}

.nav li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.nav li a:hover {
  background-color:black;
}

.current {
  background-color: blue;
}
